.CardContainer {
    width: 200px;
    height: 200px;

    background-color: rgba(196, 196, 196, 0.363);

    border-radius: 10px;
    border: dashed 2px rgb(133, 133, 133);

    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.233);
}
